@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    // background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    margin: 30px;
    padding: 8px 14px;
}
.button {
    border:none;
    border-radius: 16px;
    cursor: pointer;
    margin: 5px;
    padding: 8px 14px;
    background-color: #1b4de4;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .current-weather {
        width: 100%;

        .current-weather-details__items {
            width: 100%;
        }
    }

    .currentStatus {
        flex-direction: row;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .daily-details {
        flex-direction: column;

        .daily-details__item {
            width: 100%;
        }
    }
}
