@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    // background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    margin: 30px;
    padding: 8px 14px;
}
.button {
    border:none;
    border-radius: 16px;
    cursor: pointer;
    margin: 5px;
    padding: 8px 14px;
    background-color: #1b4de4;
    color: #fff;
}
.hourly-container{
    margin: 8px 50px;
    .hours-section{
        margin: 30px 50px;
        &__acordion{
            margin: 5px 20px;
        }
        .accordion{
            background-color: #f5f5f5;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 5px;
            justify-content: space-between;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 4px 15px;
            border-radius: 15px;
            color: rgb(75, 75, 75);

            &__text1{
                display: flex;
                align-items: center;
                gap: 6rem;
                .temp{
                    font-weight: bold;
                    font-size:16px;
                }
                .title{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    img{
                        width: 3rem;
                    }
                }

            }
            &__text2{
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 3rem;
                font-size: 14px;


            }
            .dropdown-icon{
                font-weight: 600;
                font-size: 18px;
            }
        }
        .accordion:hover{
            .dropdown-icon{
                transform: rotate(45deg);
            }
        }
        .accordion__details{
            &__section{
                display: flex;
                border-top: 1px solid lightgray;
                padding: 14px 20px;
                align-items: center;
                justify-content: space-between;
                .detailsTable{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    &__icon{
                        font-size:24px;
                        transform: rotate(25deg);
                    }
                    &__text{
                        font-size:12px;
                        color: rgb(94, 94, 94);
                        margin: 0;
                    }
                    &__value{
                        margin: 0;
                        font-weight: bold;

                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .current-weather {
        width: 100%;

        .current-weather-details__items {
            width: 100%;
        }
    }

    .currentStatus {
        flex-direction: row;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .daily-details {
        flex-direction: column;

        .daily-details__item {
            width: 100%;
        }
    }

}
@media only screen and (max-width: 950px){
    .hourly-container{
        .hours-section{
            .accordion{
                &__text1{
                    .title{
                        span{
                            display: none;
                        }
                    }
                }
                &__text2{
                    display: none;
                }
            }
        }
    }

}
