.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
    .currentStatus{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        &__location{
            display: flex;
            flex-direction: column;
            gap: 8px;
            &__title{
                margin: 0;
                font-size: 2rem;
                font-weight: 600;

            }
            &__name{
                font-size: 1.5rem;
                color: #6a6a6a;
                margin: 0;

            }
            &__date{
                font-size: smaller;
            }
        }
        &__temperature{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4rem;
            &__icon{
                font-size: 5rem;
            }
            &__details{

                &__temp{
                    font-size: 3rem;
                    margin: 0;
                    font-weight: 500;
                    span{
                        font-size: 2rem;
                    }
                }
                &__feelLike{
                    font-size: small;
                    color: #6a6a6a;
                }
                &__description{
                    font-size: small;
                    color: #6a6a6a;
                }
            }
        }
    }
    .current-weather{
        width: 60%;
        padding: 30px;
        // background-color: #f7f7f7;
        border-radius: 1rem;
        margin-top: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        h2{
            font-size: 1.3rem;
            margin-bottom: 4rem;
        }
        .current-weather-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            row-gap: 2rem;

            &__items{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 40%;
                justify-content: space-between;
                font-size: 0.8rem;
                transform: skew(-10deg);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 10px 20px;
            }
        }
}
